#from .Edit import Edit
#extends Edit

#block content

<FORM>
  <input type="hidden" name="session_id" value="$session_id">
  <fieldset>
    Show Type:<br>
    <INPUT type="radio"#slurp
#if $getVar('char_type', '') == 'p'
checked
#end if
 name="ck_char_type" value="p" id="ck_char_type"> PC's<br>
    <INPUT type="radio"#slurp
#if $getVar('char_type', '') == 'n'
checked
#end if
 name="ck_char_type" value="n" id="ck_char_type"> NPC's<br>
    <INPUT type="radio"#slurp
#if $getVar('char_type', '') == 'a'
checked
#end if
 name="ck_char_type" value="a" id="ck_char_type"> All
  </fieldset>
  <input type="submit" name="cmd_submit" value="Change">
</FORM>

<table width="100%" cellspacing="0" cellpadding="4" border="1">
  <caption>GM Control Sheet</caption>
  <thead>
    <tr>
      <th rowspan="2">Name</th>
      <th rowspan="2">ST</th>
      <th rowspan="2">DX</th>
      <th rowspan="2">IQ</th>
      <th rowspan="2">HT</th>
      <th rowspan="2">Move</th>
      <th colspan="2">PD</th>
      <th rowspan="2">DR</th>
      <th rowspan="2">Parry</th>
      <th rowspan="2">Block</th>
      <th rowspan="2">Dodge</th>
      <th rowspan="2">Hits</th>
      <th rowspan="2">Fatigue</th>
    </tr>
    <tr>
      <th>A</th>
      <th>S</th>
    </tr>
  </thead>
  <tbody>
#for $info in $player_characters
#set $trait_list = $info.traitList()
#set $my_armor = $info.armor()
    <tr>
      <td><a href="cmg.py?session_id=$session_id&id=$info.id">$info.charName</a></td>
      <td>$trait_list['ST']['level']</td>
      <td>$trait_list['DX']['level']</td>
      <td>$trait_list['IQ']['level']</td>
      <td>$trait_list['HT']['level']</td>
      <td>$info.move()</td>
      <td>#echo $my_armor['pd']['torso'] #</td>
      <td>$getVar('shield', 0)</td>
      <td>#echo $my_armor['dr']['torso'] #</td>
      <td>$info.parryLevel()</td>
      <td>$info.blockLevel()</td>
      <td>$info.dodge()</td>
      <td class=#slurp
#if $info.health > $health_bp['reeling']
"good"
#elif $info.health > $health_bp['collapse']
"poor"
#elif $info.health > 0
"bad"
#else
"crit"
#end if
>$info.health</td>
      <td class=#slurp
#if $info.fatigue > $fatigue_bp['tired']
"good"
#elif $info.fatigue > $fatigue_bp['collapse']
"poor"
#elif $info.fatigue > $fatigue_bp['unconscious']
"bad"
#else
"crit"
#end if
>$info.fatigue</span></td>
    </tr>
#end for
  </tbody>
</table>

#end block
