/* Stylesheet for the Character Record Sheet */

table
{
	border: thin solid gray;
}

td, th
{
	/* border-right: thin solid gray;
	border-left: thin solid gray; */
	padding: 2px 4px 0px 4px;
	/* margin: 4px 0px 4px 0px; */
}

.inverse
{
        color: white;
}

.divider
{
        border-top: thin solid gray;
}

.doubleDivider
{
        border-top: medium double gray;
}

.left
{
	float: left;
	width: 34%;
}

.center
{
	margin-left: 34%;
        width: 34%;
}

.right
{
        float: right;
        width: 34%;
}

.clear
{
	clear: both;
}

.trait, .category
{
	padding-left: 1em;
}

.category
{
	font-style: italic;
}

.skill
{
	padding-left: 2em;
}

/*
.portrait
{
        float: right;
        padding: 4px;
        border: thin solid gray;
        width: 34%;
}
*/

/* This is so the new character sheet will be formatted properly */
.smaller p, td
{
        font-family: sans-serif;
        font-size: x-small;
}

/* used for the encumbrance level */
.highlight
{
        background-color: #ffeecc; /* light orange */
}

/* these are also used for highlighting table rows */
.color_one
{
        /* background-color: #ffeeee; light red */
        background-color: white;
}

.color_two
{
        background-color: #eeffdd; light green
        /* background-color: #eeffff; light blue */
}
