/* Main stylesheet for the application */
body {
        background-color: white;
}
/* Status color codes */
.succeed { color: green; }
.fail    { color: red; }
.good    { color: green; }
.poor    { background-color: yellow; }
.bad     { background-color: orange; }
.crit    { color: white; background-color: red; }
.boxed {
        border: thin solid black;
        margin-left: 12%;
        padding: 8px;
        width: 75%;
}
.bordered {
        border: thin dashed black;
}
.num
{
        text-align: right;
}
.tot
{
        padding-left: 1em;
	border-top: thin solid black;
}
.tottxt
{
        padding-top: 1px;
}
#main {
	background-color: #8bccda;
	padding: 8px;
}
#header {
	background-color: #387272;
}
#header h1 {
	color: white;
	padding-left: 8px;
}
#content {
	padding: 4px;
	background-color: white;
	border-bottom: medium solid #618F99;
	border-right: medium solid #618F99;
}
#shadow {
	width: 80%;
	background-color: #79B3BF;
	padding-right: 4px;
	padding-bottom: 3px;
}
#right_menu {
	width: 18%;
	float: right;
}
.menuitem {
        display: block;
        border-bottom: thin dashed black;
        margin-bottom: 4px;
}
.menuitem a:link, a:visited {
        text-decoration: none;
}
.menuitem a:active, a:hover {
        text-decoration: underline;
}
#status {
	font-size: small;
	float: right;
	color: white;
	margin: 2px;
}
#status a:link {
	color: yellow;
}
#status a:visited {
	color: #FFC0CB;
}
#topmenu {
	clear: both;
	padding: 4px;
}
.menutab {
	background-color: #f76946;
	color: white;
	font-family: sans-serif;
	text-align: center;
	margin: 2px;
	padding: 4px;
}
.menutab a:link {
	color: white;
}
.menutab a:visited {
	color: white;
}
.sel {
	background-color: #8bccda;
}
.sel a:link {
        color: blue;
}
.sel a:visited {
        color: red;
}
#footer {
	clear: both;
	text-align: center;
	font-size: small;
}
.whitebox {
        background-color: white;
        padding: 0px 1px 2px 4px;
        margin-top: 8px;
        margin-bottom: 8px;
}
#active_name {
        font-size: large;
        font-family: sans-serif;
}
.notes {
        font-family: sans-serif;
        font-size: x-small;
}
#progress {
        display: none;
}
.help dt {
        font-weight: bold;
}
#char_select {
        float:right;
}
