body {
  background-image: url(/cmg/dev.png);
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: top left;
}
#content {
  background-image: url(/cmg/dev.png);
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: top left;
}
