/* CSS do make the openrpg1 xml displayable in a browser */

nodehandler
{
  display: block;
  margin: 10px;
}

grid
{
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: #eee;
}

row
{
  display: block;
  margin: 10px;
}

cell
{
  display: inline;
  padding: 4px;
}

list
{
  display: block;
  margin: 10px;
  padding: 4px;
  background-color: #eee;
}

option
{
  display: block;
}

text
{
  display: block;
  margin: 10px;
  padding: 4px;
  background-color: #eee;
}